.htaccess
/tutors
/.build*
/.out
/work
/tut
/lab
/test
/distributed_files*
/ClassRoll.html
/CourseTimetable.html
*.log
*.aux
*.dvi
*.nav
*.toc
*.vrb
*.snm
*.out
*_slides.tex
*_handout.tex
*.o
*.pyc
core
old
*.old
*.bak
*~
vgcore.*
*.swp
*-supplied-files
__pycache__
New
/lib/testing_results.json
