{% set programs = 'digits.pl echon.pl tail.pl shuffle.pl shuffle_test.sh' %}
{% extends "templates/lab.html" %}
{% block objectives %}
Getting started with Perl programming.
{% endblock %}

{% block lab_exercises %}
<h3>Background</h3>
<p>
We have covered only a small amount of Perl in lectures. In fact, to
cover the whole language in detail would take a whole semester, so
we're going to rely on you finding out about the language yourself
in tutes, labs and assignments. A good place to start is
the Perl documentation &amp; tutorial links on the class home page
For example you might find these useful:
</p>
<ul>
<li> <a href="http://search.cpan.org/dist/perl/pod/perlsyn.pod" target="doc">Perl language syntax</a>
<li> <a href="http://search.cpan.org/dist/perl/pod/perlsub.pod" target="doc">Perl functions</a>
<li> <a href="http://search.cpan.org/dist/perl/pod/perlop.pod" target="doc">Perl operators</a>
</li></li></li></ul>
<h3>Exercise: Mapping Digits</h3>

Write a Perl script <code>digits.pl</code> that reads from standard input and writes to standard output
mapping all digit characters whose values are
less than 5 into the character '<code>&lt;</code>' and all digit characters
whose values are greater than 5 into the character '<code>&gt;</code>'.
The digit character '5' should be left unchanged.
<p>
<table border="1" cellpadding="6">
<tr><th>Sample Input Data</th><th>Corresponding Output</th></tr>
<tr valign="top"><td>
<pre>
1 234 5 678 9
</pre>
</td><td>
<pre>
&lt; &lt;&lt;&lt; 5 &gt;&gt;&gt; &gt;
</pre>
<tr valign="top"><td>
<pre>
I can think of 100's
of other things I'd rather
be doing than these 3 questions
</pre>
</td><td>
<pre>
I can think of &lt;&lt;&lt;'s
of other things I'd rather
be doing than these &lt; questions
</pre>
</td></tr>
<tr valign="top"><td>
<pre>
A line with lots of numbers:
123456789123456789123456789
A line with all zeroes
000000000000000000000000000
A line with blanks at the end
1 2 3
</pre>
</td><td>
<pre>
A line with lots of numbers:
&lt;&lt;&lt;&lt;5&gt;&gt;&gt;&gt;&lt;&lt;&lt;&lt;5&gt;&gt;&gt;&gt;&lt;&lt;&lt;&lt;5&gt;&gt;&gt;&gt;
A line with all zeroes
&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;&lt;
A line with blanks at the end
&lt; &lt; &lt;
</pre>
</td></tr>
<tr valign="top"><td>
<pre>
Input with absolutely 0 digits in it
Well ... apart from that one ...
</pre>
</td><td>
<pre>
Input with absolutely &lt; digits in it
Well ... apart from that one ...
</pre>
</td></tr>
<tr valign="top"><td>
<pre>
1 2 4 8 16 32 64 128 256 512 1024
2048 4096 8192 16384 32768 65536
</pre>
</td><td>
<pre>
&lt; &lt; &lt; &gt; &lt;&gt; &lt;&lt; &gt;&lt; &lt;&lt;&gt; &lt;5&gt; 5&lt;&lt; &lt;&lt;&lt;&lt;
&lt;&lt;&lt;&gt; &lt;&lt;&gt;&gt; &gt;&lt;&gt;&lt; &lt;&gt;&lt;&gt;&lt; &lt;&lt;&gt;&gt;&gt; &gt;55&lt;&gt;
</pre>
</td></tr>
</td></tr></table>

{{autotest_reminder("digits.pl")}}

<p></p>
<h3>Exercise: Repeated Echo</h3>

Write a Perl script <code>echon.pl</code> which given exactly two arguments, an integer <i>n</i>
and a string, prints the string <i>n</i> times. For example:

<p>
<pre class="command_line">
<kbd class="shell">./echon.pl 5 hello</kbd>
hello
hello
hello
hello
hello
<kbd class="shell">./echon.pl 0 nothing</kbd>
<kbd class="shell">./echon.pl 1 goodbye</kbd>
goodbye
</pre>
<p>
Your script should print exactly the error message below
if it is not given exactly 2 arguments:
<p>
<pre class="command_line">
<kbd class="shell">./echon.pl </kbd>
Usage: ./echon.pl &lt;number of lines&gt; &lt;string&gt;
<kbd class="shell">./echon.pl 1 2 3</kbd>
Usage: ./echon.pl &lt;number of lines&gt; &lt;string&gt;
</pre>
<p>
Also get your script to print this error message if
its first argument isn't a non-negative integer:
<p>
<pre class="command_line">
<kbd class="shell">./echon.pl hello world</kbd>
./echon.pl: argument 1 must be a non-negative integer
<kbd class="shell">./echon.pl -42 lines</kbd>
./echon.pl: argument 1 must be a non-negative integer
</pre>
<p>

{{autotest_reminder("echon.pl")}}

<p></p>
<h3>Exercise: Tail</h3>
<h4>Perl file manipulation</h4>
<p>
The standard approach in Perl for dealing with a collection of files
whose names are supplied as command line arguments, is something like:

{{include_code("filter_template.pl")}}

Write a Perl script to implement the Unix <code>tail</code> command.
It should support the following features of <code>tail</code>:
</p>
<ul>
<li> read from files supplied as command line arguments
<li> read from standard input if no file name arguments are supplied
<li> display the error message <code>tail.pl: can't open <i>FileName</i></code> for any unreadable file
<li> display the last <i>N</i> lines of each file (default <i>N</i> = 10)
<li> can adjust the number of lines displayed via an optional first argument <code>-</code><i>N</i>
<li> if there is more than one named file, separate each by
    <code>==&gt; <i>FileName</i> &lt;==</code>
</li></li></li></li></li></li></ul>
<p>
To assist with testing your solution, there are three small test
files: <a href="t1.txt">t1.txt</a>, <a href="t2.txt">t2.txt</a>, and
<a href="t3.txt">t3.txt</a>.  Copy these files to your current directory.

<pre class="command_line">
<kbd class="shell">cp {{directory_absolute_pathname}}/t?.txt .</kbd>
</pre>

Using these data files, your program
should behave as follows:

{{execute("./tail.pl <t1.txt;. )}}="" -2="" -5="" <b="" cwd="solutions" t1.txt="" t1.txt;.="" t2.txt="" t2.txt;.="" t3.txt;.="" tail.pl="" tx.txt",="">Hint:</t1.txt;.></p></p></p></p></p></p></p></p> use the above template for Perl file processing to get started
with your script. You <em>must</em> use Perl's <code>-w</code> flag
in your script, and you must write your code in such a way as
to ensure that no warning messages are produced.

{{autotest_reminder("tail.pl")}}

<p></p>
<h3>Challenge Exercise: Shuffling Lines</h3>

Write a Perl script <code>shuffle.pl</code> which prints its input with the
lines in random order.
For example:

{{execute("i=0;while [ $i -lt 5 ]; do echo $i; i=$(($i + 1)); done|./shuffle.pl", split_semicolon=False, cwd="solutions")}}

{{execute("i=0;while [ $i -lt 5 ]; do echo $i; i=$(($i + 1)); done|./shuffle.pl", split_semicolon=False, cwd="solutions")}}

You are not permitted to use <code>List::Util</code> (it contains a shuffle function).
<p>
Don't look for other people's solutions - see if you can come up with your own.

<b>Hint:</b> the perl function <i>rand</i> returns a floating point number between 0 and its argument.
For example:

{{execute("perl -e 'print rand(42), \"\\n\"'")}}

{{execute("perl -e 'print rand(42), \"\\n\"'")}}

<b>Hint:</b> perl ignores the fractional part of a number if you use it to index an array

<p></p>
<p>
There is no autotest and no automarking of this question.
<p>
When you have completed demonstrate your work to another COMP[29]041 student in your lab
and ask them to enter a
<a href="https://cgi.cse.unsw.edu.au/~cs2041/cgi/peer/assess.py">peer assessment here</a>
It is prefered you do this during your lab, but if this is not possible
you may demonstrate your work to any COMP[29]041  student before Sunday midnight.
<p>
<h3>Challenge Question: Testing Shuffling Lines</h3>
<p>
There is no dryrun test for <code>shuffle.pl</code>.
Testing (pseudo)random programs is more difficult
because there are multiple correct outputs for a given input.
<p>
Write a shell script <code>shuffle_test.sh</code> which tests <code>shuffle.pl</code>.
<p>
Try to test that all outputs are correct and all correct outputs are being generated.
<p>
There is no autotest and no automarking of this question.
<p>
When you have completed demonstrate your work to another COMP[29]041 student in your lab
and ask them to enter a
<a href="https://cgi.cse.unsw.edu.au/~cs2041/cgi/peer/assess.py">peer assessment here</a>
It is prefered you do this during your lab, but if this is not possible
you may demonstrate your work to any COMP[29]041  student before Sunday midnight.
<p>
<p></p>
<p></p>

{% endblock %}
</p></p></p></p></p></p></p></p></p></p>