{% set programs = 'htm2html.sh missing_include.sh first_name.sh' %}
{% set submission_deadline = 'Wednesday 30 August 23:59' %}
{% extends "templates/test.html" %}

{% block questions %}

<h3>Exercise: Most Common First Name</h3>

We need to know the most common first name for each year's COMP[29]041 students.
<p>
We have  <a href="{{directory_url}}enrollments.txt">enrollment data</a> in this format:

<pre class="command_line">
<kbd class="shell">wget {{directory_url}}enrollments.txt</kbd>
<kbd class="shell">head enrollments.txt</kbd>
COMP1511|5013566|Xin, Mackenzie Darren                             |3648/2|COMPI1 MTRNAH|071.800|17s2|19910428|M
COMP9902|5079970|Park, Xue Hannah Vanessa                          |8543  |ELECAH       |079.333|17s2|19900209|F
COMP1511|5059072|Chung, Michael Jia Tianyu                         |3778/1|COMPCS       |057.250|17s2|19990801|M
COMP1521|5060774|Lim, Stephanie Lauren                             |3785/1|COMPA1       |000.000|17s2|19890113|F
COMP1531|5060774|Lim, Stephanie Lauren                             |3785/1|COMPA1       |000.000|17s2|19890113|F
COMP2521|5060774|Lim, Stephanie Lauren                             |3785/1|COMPA1       |000.000|17s2|19890113|F
COMP9020|5060538|Bi, Samuel Shiyu                                  |6021  |COMPA1       |078.125|17s2|19911004|M
COMP9021|5060538|Bi, Samuel Shiyu                                  |6021  |COMPA1       |078.125|17s2|19911004|M
COMP9902|5072116|Hu, Kai Zhi Patrick                               |3707/1|SENGAH       |070.750|17s2|19930424|M
COMP1511|5036926|Fang, Rebecca Lauren                              |8543  |COMPCS       |000.000|17s2|20000921|F
</pre>

Write a shell script <code>first_name.sh</code> which takes the name of a file as a command-line argument,
The file will contain enrolment data in the above format.   <code>first_name.sh</code> should print a single
line of output. This line should contain only the most common first name for COMP[29]041 students in the enrollment data. For example:
<p>
<pre class="command_line">
<kbd class="shell">./first_name.sh enrollments.txt</kbd>
Vanessa
</pre>

You can assume there will not be multiple first names which are equally common.
<p>
No error checking is necessary.
<p>
{{autotest_reminder("first_name.sh")}}

<div class="answer">
Sample solution for first_name.sh

{{include_code("solutions/first_name.sh")}}
</div>

<h3>Exercise: converting .htm to .html</h3>

Our new web server requires all HTML files have the suffix <code>.html</code>.
Unfortunately we have many  HTML files named with the suffix <code>.htm</code>.
<p>
Write a shell script <code>htm2html.sh</code> which changes the name of all files with the suffix
<code>.htm</code>  in the current directory to have the suffix <code>.html</code>.
For example:

<pre class="command_line">
<kbd class="shell">touch index.htm small.htm large.htm</kbd>
<kbd class="shell">ls *.htm*</kbd>
index.htm  large.htm  small.htm
<kbd class="shell">./htm2html.sh</kbd>
<kbd class="shell">ls *.htm*</kbd>
index.html  large.html  small.html
</pre>

Your script should stop with EXACTLY the error message shown below and exit status 1 if the <code>.html</code> file already exists.
For example:

<pre class="command_line">
<kbd class="shell">touch andrew.htm andrew.html</kbd>
<kbd class="shell">./htm2html.sh </kbd>
andrew.html exists
</pre>

You can assume the current directory contains at last one <code>.htm</code> file
<p>
No error checking other then described above is necessary.

{{autotest_reminder("htm2html.sh")}}

<div class="answer">
Sample solution for htm2html.sh

{{include_code("solutions/htm2html.sh")}}
</div>

<h3>Exercise: Missing Include Files</h3>

We need check a large number of C programs for missing include files.
<p>
Write a shell script <code>missing_include.sh</code> which is give
one of more filenames as argument.  The files will contain C code.
<p>
<code>missing_include.sh</code> should print a message if any
file included by the C program is not present in the current directory.
<p>
Reminder C include lines are of this form:

<pre>
#include "file.h"
</pre>

For example:

<pre class="command_line">
<kbd class="shell">wget {{directory_url}}c_files.zip</kbd>
<kbd class="shell">ls *.[ch]</kbd>
a.c  a.h  b.c  c.h
<kbd class="shell">cat a.c</kbd>
#include &lt;stdio.h>

#include "a.h"
#include "b.h"
#include "input.h"

int a(void){
    return 42;
}
<kbd class="shell">cat b.c</kbd>
#include &lt;stdio.h>

#include "b.h"
#include "c.h"
#include "d.h"
#include &lt;string.h>

int b(void){
    return b.c;
}
<kbd class="shell">./missing_include.sh a.c</kbd>
b.h included into a.c does not exist
input.h included into a.c does not exist
<kbd class="shell">./missing_include.sh b.c</kbd>
b.h included into b.c does not exist
d.h included into b.c does not exist
<kbd class="shell">./missing_include.sh a.c b.c</kbd>
b.h included into a.c does not exist
input.h included into a.c does not exist
b.h included into b.c does not exist
d.h included into b.c does not exist
</pre>


You can assume filenames do not contain spaces.
<p>
You do not have to check files for the C library with angle brackets (&lt;>).
For example you do not have to check this line:

<pre>
#include &lt;stdio.h>
</pre>

No error checking is necessary.
<p>

{{autotest_reminder("missing_include.sh")}}

<div class="answer">
Sample solution for missing_include.sh

{{include_code("solutions/missing_include.sh")}}
</div>

{% endblock %}
