{% extends "templates/tut.html" %}
{% block questions %}
<ol>
<li>
<p>
What is the difference in value/type of the following Perl expressions:
<p>
<ol type="a">
<li> <code>"a"</code> &nbsp; <small>vs</small> &nbsp; <code>'a'</code>
<div class="answer">
no difference - both are strings containing a single 'a' character
</div>
<li> <code>"A"</code> &nbsp; <small>vs</small> &nbsp; <code>A</code>
<div class="answer">
no difference - both are strings containing a single 'A' character
</div>
<li> <code>"abc"</code> &nbsp; <small>vs</small> &nbsp; <code>'abc'</code>
<div class="answer">
no difference - both are strings containing the three characters 'a','b','c'
</div>
<li> <code>"it\'s"</code> &nbsp; <small>vs</small> &nbsp; <code>'it\'s'</code>
<div class="answer">
no difference - both are strings containing the four characters 'i','t',apostrophe,'s'
</div>
<li> <code>42</code> &nbsp; <small>vs</small> &nbsp; <code>"42"</code>
<div class="answer">
no difference - both are strings containing two characters, '4' and '2'
</div>
<li> <code>3</code> &nbsp; <small>vs</small> &nbsp; <code>3.0</code>
<div class="answer">
the first is a string containing one character and the second contains three characters,
if evaluated in a numeric context they are the same: <code>3 ne 3.0</code> but <code>3 == 3.0</code>
</div>
<li> <code>"$2.50"</code> &nbsp; <small>vs</small> &nbsp; <code>'$2.50'</code>
<div class="answer">
in the first case, the value of the Perl internal variable <code>$2</code>
    is interpolated into the string; since most likely this will be the
    empty string, the resulting string will be the three-character
    string ".50" <br>
    in the second case, the <code>$</code> is not treated specially
    and so the result is the literal five-character string "$2.50"
</div>
</ol>
<li>

Write a Perl program, <code>nargs.pl</code> which prints how many arguments it has been
given. For example:

{{execute("./nargs.pl the quick brown fox", cwd="solutions")}}

<div class="answer">
Sample Perl solution

{{include_code("solutions/nargs.pl")}}

Sample Python solution

{{include_code("solutions/nargs.py")}}
</div>
<li>

Write a Perl program, <code>devowel.pl</code> which filters any
vowels from its input. For example:

{{execute("./devowel.pl", cwd="solutions", input="The quick brown fox\njumped over the lazy dog.\n")}}

<div class="answer">
Sample Perl solution - simple code

{{include_code("solutions/devowel.pl")}}

Sample Perl solution - using $_

{{include_code("solutions/devowel1.pl")}}

Sample Perl solution - using $_ and -p switch

{{include_code("solutions/devowel2.pl")}}

Perl also makes it convenient to perform operations like this from the command line,
for example:

<pre class="command_line">
<kbd class="shell">perl -p -e 's/[aeiou]//gi'</kbd>
</pre>

Note that the <code>gi</code> above means <b>g</b>lobally (i.e. all occurrences)
and case-<b>i</b>nsensitive.
<p>
Sample Python solution

{{include_code("solutions/devowel.py")}}
</div>
<li>
Write a simple version of the <code>head</code> command in Perl, that
accepts an optional command line argument in the form
<code>-<i>n</i></code>, where <code><i>n</i></code> is a number,
and displays the first <code><i>n</i></code> lines from its standard
input.
If the <code>-<i>n</i></code> option is not used, then the program
simply displays the first ten lines from its standard input.
<p>
Examples of use:
<pre class="command_line">
<kbd class="shell">perl head.pl &lt;file2</kbd>        # display first ten lines of file2
...
<kbd class="shell">perl head.pl -10 &lt;file2</kbd>     # same as previous command
...
<kbd class="shell">perl head.pl -5 &lt;file2</kbd>      # display first five lines of file2
...
</pre>

<div class="answer">
Perl solution with while loop

{{include_code("solutions/simple_head0.pl")}}
<
Perl solution reading all input into an array

{{include_code("solutions/simple_head1.pl")}}

Cryptic  One-line Perl solution

{{include_code("solutions/simple_head2.pl")}}

Python solution with while loop

{{include_code("solutions/simple_head0.py")}}

Python solution reading all input into an array

{{include_code("solutions/simple_head1.py")}}

Python solution using an iterator

{{include_code("solutions/simple_head2.py")}}
</div>

<li>
Modify the <code>head</code> program from the previous question so that,
as well as handling an optional <code>-<i>n</i></code> argument to
specify how many lines, it also handles multiple files on the command
line and displays the first <code><i>n</i></code> lines from each file,
separating them by a line of the form <code>==> <i>FileName</i> &lt;===</code>.
<p>
Examples of use:
<pre class="command_line">
<kbd class="shell">perl head.pl file1 file2 file3</kbd>  # display first ten lines of each file
...
<kbd class="shell">perl head.pl -3 file1 file2</kbd>   # display first three lines of each file
...
</pre>
<p>

<div class="answer">
Sample Perl solution

{{include_code("solutions/head0.pl")}}

Sample Python solution

{{include_code("solutions/head0.py")}}
</div>
<li>

Write a simple version of the <code>grep</code> command, that takes a
regular expression as its first command line argument and then prints
all lines in the standard input (or named files) that contain this
pattern.
<p>
Examples of use:

<pre class="command_line">
<kbd class="shell">perl mygrep.pl 'a.*c' file1 file2 file3</kbd>     # all lines containing a...c
...
<kbd class="shell">perl mygrep.pl '[0-9]+' file1 file2 file3</kbd>   # all lines containing numbers
...
<kbd class="shell">perl mygrep.pl '^The' &lt;file1</kbd>          # all lines starting with "The"
...
</pre>

<div class="answer">
Sample Perl solution using a while loop

{{include_code("solutions/grep0.pl")}}

Sample Perl solution using an array

{{include_code("solutions/grep1.pl")}}

Sample Python solution using a for loop

{{include_code("solutions/grep0.py")}}

More  Python-ish (functional) solution

{{include_code("solutions/grep1.py")}}
</div>

<li>
Modify the <code>grep</code> command from the previous question so that
accepts a <code>-v</code> command line option to reverse the sense of
the test (i.e. display only lines that do <em>not</em> match the pattern).
It should continue with its original behaviour if no <code>-v</code> is
specified.

<div class="answer">
Sample Perl solution using a while loop

{{include_code("solutions/grep2.pl")}}

Sample Perl solution  using an array and xor

{{include_code("solutions/grep3.pl")}}

Sample Python using a for loop

{{include_code("solutions/grep2.py")}}

Functional python solution

{{include_code("solutions/grep3.py")}}
</div>
{% endblock %}
{% block revision_questions %}
<li>
<p>
The following programs are all Perl versions of the <code>cat</code>
program. Each of them either reads from standard input (if there are
no command line arguments) or treats each command line argument as a
file name, opens the file, and reads it. The final one shows just how
concise Perl code can be. You may find the ideas in these programs
useful in helping you solve the problems below.

{{include_code("solutions/cat.v0.pl")}}

{{include_code("solutions/cat.v1.pl")}}

{{include_code("solutions/cat.v2.pl")}}

{{include_code("solutions/cat.v3.pl")}}

<pre class="program">
# Other versions of cat
# Make use of the fact that &lt;&gt; has a special meaning
# - if no command line arguments, read standard input
# - otherwise, open each argument as a file and read it
# Very concise, but ...
# - you'll need to put up with Perl's error messages
# - you treat all files as a single stream ... which means
#   - you can't distinguish which file each line comes from
#   - there is no scope for doing things at file boundaries
while (&lt;&gt;) { print; }
#or
@lines = &lt;&gt;;
print @lines;
#or
print &lt;&gt;;
</pre>
<p>
Write a new version of <code>cat</code> so that it accepts
a <code>-n</code> command line argument and then prints a line number at
the start of each line in a field of width 6, followed by two spaces,
followed by the text of the line. The numbers should constantly increase
over all of the input files (i.e. don't start renumbering at the start
of each file). The program always reads from its standard input.
</p>
<p>
Example of output:

<pre class="command_line">
<kbd class="shell">perl cat -n myFile</kbd>
     1  This is the first line of my file
     2  This is the second line of my file
     3  This is the third line of my file
         ...
  1000  This is the thousandth line of my file
</pre>

<div class="answer">
{{include_code("solutions/catn.v0.pl")}}


Note that the <code>shift</code> is important. It removes the option
from the argument list so that <code>&lt;&gt;</code> is left with the
correct command-line arguments to process (i.e. just the file names).
</div>

<li>
Modify the <code>cat</code> program from the previous question so that
it also accepts a <code>-v</code> command line option to display <em>all</em>
characters in the file in printable form. In particular, end of lines should
be shown by a <code>$</code> symbol (useful for finding trailing whitespace
in lines) and all control characters (ascii code less than 32) should be
shown as <code>^<i>X</i></code> (where <code><i>X</i></code> is the
printable character obtained by adding the code for
'A' to the control character code).
So, for example, tabs (ascii code 9) should display as <code>^I</code>.
<br><I>Hint:</I> the <code>chr</code> and <code>ord</code> functions might be useful.
Try
<pre class="command_line">
<kbd class="shell">perldoc -f ord</kbd>
</pre>
for info about functions such as these.
<p>
Example of output:
<pre class="command_line">
<kbd class="shell">perl cat -v &lt; myFile</kbd>
This file contains a tabbed list:$
^I- point 1$
^I- point 2$
^I- point 3$
And this line has trailing spaces   $
which would otherwise be invisible.$
</pre>

<div class="answer">
{{include_code("solutions/catn.v1.pl")}}
</div>

<li>
<p>
Write a version of the <code>tac</code> command in Perl, that accepts
a list of filenames and displays the lines from each file in reverse order.
<div class="answer">

Sample Perl solution

{{include_code("solutions/tac.pl")}}

The following might look attractive, but treats all files as a
single input, and reverses that. It doesn't do it file by file
like the real <code>tac</code>.

<pre class="program">
#!/usr/bin/perl -w
print reverse &lt;&gt;;
# same as ... cat f1 f2 f3 .. | tac
# not the same as ... tac f1 f2 f3
</pre>

Sample Python solution


{{include_code("solutions/tac.py")}}
</div>
</ol>

{% endblock %}
