{% set programs = "courses.pl lectures0.pl lectures1.pl lectures2.pl tags.py shortest_path.py" %}
{% extends "templates/lab.html" %}
{% block objectives %}
<ul>
<li> Developing Perl skills
<li> Exploring a simple approach to scraping data from the web
</li></li></ul>
{% endblock %}

{% block lab_exercises %}

<h3>Background</h3>

We have covered only a small amount of Perl in lectures. In fact, to
cover the whole language in detail would take a whole semester, so
we're going to rely on you finding out about the language yourself
in tutes, labs and assignments. A good place to start is
the Perl documentation &amp; tutorial links on the class home page
For example you might find these useful:

<ul>
<li> <a href="http://search.cpan.org/dist/perl/pod/perlsyn.pod" target="doc">Perl language syntax</a>
<li> <a href="http://search.cpan.org/dist/perl/pod/perlsub.pod" target="doc">Perl functions</a>
<li> <a href="http://search.cpan.org/dist/perl/pod/perlop.pod" target="doc">Perl operators</a>
</li></li></li></ul>
<h3>Exercise: Scraping Course Codes</h3>
Write a Perl script <code>courses.pl</code> which prints the course codes with a given prefix of all UNSW courses with lectures on the
Kensington Campus this session.  For example:

<pre class="command_line">
<kbd class="shell">./courses.pl VISN</kbd>
VISN1101
VISN1111
VISN1221
VISN2111
VISN2211
VISN2231
VISN3111
VISN3211
VISN4003
</pre>
<b>Hints:</b> The course codes with prefix <code>VISN</code> can be found in this web page:
<a href="http://www.timetable.unsw.edu.au/current/VISNKENS.html"><code>http://www.timetable.unsw.edu.au/current/VISNKENS.html</code></a>.  You can assume this is the case
for all prefixes.  You saw how to retrieve a web page using wget in a previous lab.
So you can perform this task in less than 10 lines of Perl.

{{autotest_reminder("courses.pl")}}

<p></p>
<h3>Exercise: Scraping Lecture Times</h3>

Write a Perl script <code>lectures0.pl</code> which given course codes as arguments prints details of their
lectures.

<pre class="command_line">
<kbd class="shell">./lectures0.pl COMP2041</kbd>
COMP2041: S2 Wed 16:00 - 18:00 (Weeks:1-9,10-12), Fri 14:00 - 15:00 (Weeks:1-9,10-12)
<kbd class="shell">./lectures0.pl PSYC1011 COMP9024 COMP3231</kbd>
PSYC1011: S2 Mon 13:00 - 14:00 (Weeks:1-9,10-12), Wed 11:00 - 12:00 (Weeks:1-9,10-12), Thu 12:00 - 13:00 (Weeks:1-9,10-12)
PSYC1011: S2 Mon 18:00 - 19:00 (Weeks:1-9,10-12), Wed 18:00 - 19:00 (Weeks:1-9,10-12), Thu 18:00 - 19:00 (Weeks:1-9,10-12)
COMP9024: S1 Tue 18:00 - 21:00 (Weeks:1-7,8-12), Tue 18:00 - 21:00 (Weeks:13)
COMP9024: S2 Thu 18:00 - 21:00 (Weeks:1-9,10-12)
COMP3231: S1 Mon 14:00 - 16:00 (Weeks:1-7,8-12), Thu 15:00 - 16:00 (Weeks:1-7,8-12)
</pre>

Don't print identical lecture streams (where times &amp; weeks are identical) multiple times.
<p>
Some timetable entries include the same stream twice, in other cases there is a parallel stream -
but for simplicity if times &amp; weeks are identical don't print the stream twice (hint: use a hash).
<p>
<b>Hint:</b> You can assume that a course's lecture times will be found in a web page equivalent to:
<a href="http://timetable.unsw.edu.au/current/COMP2041.html">http://timetable.unsw.edu.au/current/COMP2041.html</a>.
Its difficult to use a regexp to match the line containing the lecture description but you
match a previous line, then skip a certain number of lines.
<p>
You can also get the teaching period this way.  Don't panic if you can't get this quite right
your tutor will be generous  with hints.
<p>
<b>Hint:</b> a hash can be easily used to avoid repeated output.
<p>
<b>Hint:</b> make sure you have the URL exactly as above - e.g. don't have repeated slashes (the timetable website uses fragile rewriting rules).

{{autotest_reminder("lectures0.pl")}}

<p></p>
<h3>Semi-Challenge Exercise: Lecture Times as Tuples</h3>

The output from <code>lectures0.pl</code> is (more or less) human readable but is less convenient for other uses.
Copy <code>lectures0.pl</code> to <code>lectures1.pl</code> and
modify it so that if a -d option is specified it prints the
hourly details of lectures in the format shown in the examples below:

<pre class="command_line">
<kbd class="shell">./lectures1.pl COMP2041</kbd>
COMP2041: S2 Wed 16:00 - 18:00 (Weeks:1-9,10-12), Fri 14:00 - 15:00 (Weeks:1-9,10-12)
<kbd class="shell">./lectures1.pl -d COMP2041</kbd>
S2 COMP2041 Wed 16
S2 COMP2041 Wed 17
S2 COMP2041 Fri 14
<kbd class="shell">./lectures1.pl -d COMP4121</kbd>
S2 COMP4121 Tue 9
S2 COMP4121 Tue 10
S2 COMP4121 Thu 10
S2 COMP4121 Thu 11
<kbd class="shell">./lectures1.pl -d COMP1521</kbd>
S2 COMP1521 Mon 12
S2 COMP1521 Mon 13
S2 COMP1521 Thu 13
S2 COMP1521 Wed 9
S2 COMP1521 Wed 10
S2 COMP1521 Fri 12
<kbd class="shell">./lectures1.pl -d PSYC1011 COMP9024 COMP3231</kbd>
S2 PSYC1011 Mon 13
S2 PSYC1011 Wed 11
S2 PSYC1011 Thu 12
S2 PSYC1011 Mon 18
S2 PSYC1011 Wed 18
S2 PSYC1011 Thu 18
S1 COMP9024 Tue 18
S1 COMP9024 Tue 19
S1 COMP9024 Tue 20
S2 COMP9024 Thu 18
S2 COMP9024 Thu 19
S2 COMP9024 Thu 20
S1 COMP3231 Mon 14
S1 COMP3231 Mon 15
S1 COMP3231 Thu 15
</pre>

Getting this exercise completely correct is difficult - again your tutor will be generous with
hints.

{{autotest_reminder("lectures1.pl")}}


<p></p>
<h3>Semi-Challenge Exercise: Lecture Times as a Table</h3>

Copy <code>lectures1.pl</code> to <code>lectures2.pl</code> and
modify itso that when a -t option is specified it prints a
count of many lectures occur at each day/time in an ASCII table in the format
shown in the example below.

<pre class="command_line">
<kbd class="shell">./lectures2.pl COMP9020 COMP9021 COMP9024</kbd>
COMP9020: S1 Fri 14:00 - 17:00 (Weeks:1-6,8-13)
COMP9020: S2 Thu 15:00 - 18:00 (Weeks:1-9,10-12)
COMP9021: S1 Tue 18:00 - 21:00 (Weeks:1-7,8-12)
COMP9021: S1 Fri 11:00 - 14:00 (Weeks:1-7,8-12)
COMP9021: S2 Mon 15:00 - 16:00 (Weeks:1-9,10-12), Thu 18:00 - 21:00 (Weeks:1-9,10-12)
COMP9024: S1 Tue 18:00 - 21:00 (Weeks:1-7,8-12), Tue 18:00 - 21:00 (Weeks:13)
COMP9024: S2 Thu 18:00 - 21:00 (Weeks:1-9,10-12)
<kbd class="shell">./lectures2.pl -d COMP9020 COMP9021 COMP9024</kbd>
S1 COMP9020 Fri 14
S1 COMP9020 Fri 15
S1 COMP9020 Fri 16
S2 COMP9020 Thu 15
S2 COMP9020 Thu 16
S2 COMP9020 Thu 17
S1 COMP9021 Tue 18
S1 COMP9021 Tue 19
S1 COMP9021 Tue 20
S1 COMP9021 Fri 11
S1 COMP9021 Fri 12
S1 COMP9021 Fri 13
S2 COMP9021 Mon 15
S2 COMP9021 Thu 18
S2 COMP9021 Thu 19
S2 COMP9021 Thu 20
S1 COMP9024 Tue 18
S1 COMP9024 Tue 19
S1 COMP9024 Tue 20
S2 COMP9024 Thu 18
S2 COMP9024 Thu 19
S2 COMP9024 Thu 20
<kbd class="shell">./lectures2.pl -t COMP9020 COMP9021 COMP9024</kbd>
S1       Mon   Tue   Wed   Thu   Fri
09:00
10:00
11:00                             1
12:00                             1
13:00                             1
14:00                             1
15:00                             1
16:00                             1
17:00
18:00           2
19:00           2
20:00           2
S2       Mon   Tue   Wed   Thu   Fri
09:00
10:00
11:00
12:00
13:00
14:00
15:00     1                 1
16:00                       1
17:00                       1
18:00                       2
19:00                       2
20:00                       2
<kbd class="shell">./lectures2.pl -t COMP1911 COMP2041 COMP2121 COMP3121 COMP3311 COMP3331 COMP4121 COMP3421 COMP9020 COMP9021 COMP9024</kbd>
S1       Mon   Tue   Wed   Thu   Fri
09:00     1
10:00     1
11:00     2           2           1
12:00     1           2           1
13:00                 1           1
14:00                             2
15:00                 1     1     1
16:00           1     1           1
17:00           1
18:00           2
19:00           2
20:00           2
S2       Mon   Tue   Wed   Thu   Fri
09:00           1
10:00           1           1
11:00                       1
12:00           1           1
13:00           1           1
14:00                       1     1
15:00     2                 1
16:00     2           1     1
17:00     1           1     1
18:00                       2
19:00                       2
20:00                       2
</pre>

Getting this exercise completely correct is difficult - again your tutor will generous with hints.

{{autotest_reminder("lectures2.pl")}}

<p></p>
<h3>Challenge Exercise: Extracting Tags in Python</h3>

The  introduction to Python in lectures will come later.
<p>
The <a href="/~cs2041/lec/python/examples.index.html">example Python scripts</a> and links
to external Python resources should help - but you may need more info - Google is your friend.

Write a Python program, <code>tags.py</code> which given the URL of a web
page fetches it by running <i>wget</i> and prints the HTML tags it uses.
<p>
Don't count closing tags (e.g. <code>&lt;/a&gt;</code>)
<p>
The tag should be converted to lower case and printed in sorted order
with a count of often each is used.
<p>
You are expected (not required) to use regexes but there are problems processing HTML
this way - don't be surprised if its hard to get right.
<p>
<b>Hint:</b> make sure you don't print tags within HTML comments.
<p>
For example:

{{execute("./tags.py http://www.cse.unsw.edu.au/~cs2041/outline.html;./tags.py http://www.cse.unsw.edu.au", cwd="solutions")}}

Add an <code>-f</code> option to <code>tags.py</code> which indicates the tags are to printed
in order of frequency.  For example:

{{execute("./tags.py -f http://www.cse.unsw.edu.au/~cs2041/outline.html", cwd="solutions")}}

Note tags which occur with equal frequency should ordered alphabetically.

{{autotest_reminder("tags.py")}}

<p></p>
<b>Hint:</b> see last week's tute for a sample solution in Perl.


<h3>Challenge Exercise: Finding the Shortest Journey in Python</h3>

Write a Python program shortest_path.py that given the road distances between
a number of towns (on standard input) calculates the shortest journey
between two towns specified as arguments.
Here is an example of how your program should behave.

{{execute("./shortest_path.py Parkes Gilgandra", cwd='solutions', show_eof=True, input="""Bourke Dubbo          23
Bourke Gilgandra      62
Bourke Parkes         71
Canowindra Dubbo      35
Canowindra Gilgandra  13
Canowindra Parkes    112
Dubbo Gilgandra       91
Dubbo Parkes          57
"""
)}}

<p>
Hints: Python's strings have a
<a href="http://en.wikibooks.org/wiki/Python_Programming/Strings#split.2C_splitlines">split method</a> which can
break up input lines. Its easy to implement <a href="http://en.wikibooks.org/wiki/Python_Programming/Sets">Sets in python</a>.


{{autotest_reminder("shortest_path.py")}}

<p></p>

{% endblock %}
</p></p></p></p></p></p></p></p></p></p></p></p>