{% extends "templates/tut.html" %}
{% block questions %}
<li>

Write a Perl program, <code>tags.pl</code> which given the URL of a web
page fetches it by running <i>wget</i> and prints the HTML tags it uses.
<p>
The tag should be converted to lower case and printed in sorted order
with a count of often each is used.
<p>
Don't count closing tags.
<p>
Make sure you don't print tags within HTML comments.
<p>
For example:

<pre class="command_line">
<kbd class="shell">./tags.pl http://www.cse.unsw.edu.au</kbd>
a 141
body 1
br 14
div 161
em 3
footer 1
form 1
h2 2
h4 3
h5 3
head 1
header 1
hr 3
html 1
img 12
input 5
li 99
link 3
meta 4
noscript 1
p 18
script 14
small 3
span 3
strong 4
title 1
ul 25
</pre>

Note the  counts in the above example will not be current - the CSE pages change almost daily.

<div class="answer">
Sample solution for tags.pl

{{include_code("solutions/tags0.pl")}}

</div>

<li>

Add an -f option to tags.pl which indicates the tags are to printed
in order of frequency.
<p>
<pre class="command_line">
<kbd class="shell">tags.pl -f http://www.cse.unsw.edu.au</kbd>
head 1
noscript 1
html 1
form 1
title 1
footer 1
header 1
body 1
h2 2
hr 3
h4 3
span 3
link 3
small 3
h5 3
em 3
meta 4
strong 4
input 5
img 12
br 14
script 14
p 18
ul 25
li 99
a 141
div 161
</pre>
<div class="answer">
Sample solution for tags.pl

{{include_code("solutions/tags.pl")}}

</div>
<li>

Write a Perl function which takes an integer argument <b>n</b>
and reads the next <b>n</b> lines of input and returns them
as a string.

<div class="answer">

Two sample solutions with extra code to run the function:

{{include_code("solutions/n_lines.pl")}}

</div>
<li>
Write a Perl program which given the name of a C function
searches the C source files (*.c) in the current directory
for calls of the function, declarations & definitons of the function
and prints a summary indicating the file and line number, in the format below.
<p>
You can assume functions are defined with the type, name and paramaters on a single
non-indented line.  You can assume function bodies are always indented.
<p>
You don't have to handle multi line comments.
Try to avoid matching the function name in strings or single line comments.
For example:

{{execute("cat half.c;cat main.c;./print_function_uses.pl half", cwd="solutions")}}

<div class="answer">

Perl sample solution

{{include_code("solutions/print_function_uses.pl")}}

Python sample solution

{{include_code("solutions/print_function_uses.py")}}
</div>

<li>

Write a Perl program which  given a  C program as input
finds the definitions of single parameter functions and prints
separately the function's type, name and the parameters name & type.
Assume all these occur on a single non-indented line in the C source code.
You can assume function bodies are always indented.
Allow for white space occuring anywhere in the function header.
You can assume that types in the program don't contain square or round brackets.
For example:

{{execute("cat a.c;./print_function_types.pl a.c", cwd="solutions")}}

<div class="answer">
Perl sample solution

{{include_code("solutions/print_function_types.pl")}}

</div>
<li>
Write a Perl script C_include.pl which given the name of a C source file
prints the file replacing any '#include' lines with the contents
of the included file, if the included file itself contains
a #include line these should also be processed.
<p>
Assume the source files contain only quoted ("") include directives
which contain the files's actual path name. For example:

{{execute("cat f.c;cat true.h;cat false.h;./C_include.pl f.c", cwd="solutions")}}

<div class="answer">

Perl sample solution

{{include_code("solutions/C_include.pl")}}

</div>

<li>
Modify C_include.pl so that it handles both <code>""</code> and <code>&lt;&gt;</code> directives.
It should search the directories <code>/usr/include/</code>, <code>/usr/local/include</code>
and /<code>usr/include/x86_64-linux-gnu</code> for include files specified in <code>&lt;&gt;</code> directives
and for files specified in <code>""</code> directives which do not exist locally. For example:

{{execute("cat g.c;./C_include.pl g.c|head", cwd="solutions")}}


<div class="answer">

Perl sample solution

{{include_code("solutions/C_include.pl")}}

</div>
{% endblock %}
{% block revision_questions %}
<li>

Write a Perl program, <code>times.pl</code> which prints a table of multiplications.
<p>
Your program will be given the dimension of the table and the width of
the columns to be printed. For example:

{{execute("./times.pl 4 5 3", cwd="solutions")}}

<div class="answer">
Sample Perl solution

{{include_code("solutions/times.pl")}}

Sample Python solution

{{include_code("solutions/times.py")}}

</div>
<li>
<p>
Write a Perl program which deletes blank lines from each
of the files specified as arguments. For example, if run like this:

<pre class="command_line">
<kbd class="shell">deblank.pl file1 file2 file3</kbd>
</pre>

your program should delete any blank lines in <code>file1</code>,
<code>file2</code> and <code>file3</code>.
Note that this program <em>changes</em> the files, it doesn't
just write the "de-blanked" versions to standard output.

<div class="answer">

Perl sample solution

{{include_code("solutions/deblank0.pl")}}

Perl sample solution using -i switch

{{include_code("solutions/deblank1.pl")}}

Perl sample solution using -i and -p switch

{{include_code("solutions/deblank2.pl")}}

Or from the command line:

<pre class="command_line">
<kbd class="shell">perl -ip -e 's/^\s*$//' file1 file2 file3</kbd>
</pre>

Python sample solution - based on Perl

{{include_code("solutions/deblank0.py")}}

</div>
<li>

Write a Perl function <code>listToHTML()</code> that given a list of values
returns a string
of HTML code as an unordered list. For example

<pre class="program">
$out = listToHTML('The', 'Quick', 'Brown', 'Fox');
</pre>

would result in <code>$out</code> having the value ...

<pre class="program">
&lt;ul&gt;
&lt;li&gt;The
&lt;li&gt;Quick
&lt;li&gt;Brown
&lt;li&gt;Fox
&lt;/ul&gt;
</pre>

As part of an HTML page, this would display as:

<ul>
<li>The
<li>Quick
<li>Brown
<li>Fox
</ul>

P.S. A Perl syntactic short cut can be used to construct the list above:

<pre class="program">
$out = listToHTML(qw/The Quick Brown Fox/);
</pre>

<div class="answer">
Sample solution for listToHTML

{{include_code("solutions/listToHTML.pl")}}
</div>

<li>

Write a Perl function <code>hashToHTML()</code> that returns a string
of HTML code that could be used to display a Perl associative array
(hash) as an HTML table, e.g.

<pre class="program">
# the hash table ...
%colours = ("John"=>"blue", "Anne"=>"red", "Andrew"=>"green");
# and the function call ...
$out = hashToHTML(%colours);
</pre>

would result in <code>$out</code> having the value ...

<pre class="program">
&lt;table border="1" cellpadding="5"&gt;
&lt;tr&gt;&lt;th&gt; Key &lt;/th&gt;&lt;th&gt; Value &lt;/th&gt;&lt;/tr&gt;
&lt;tr&gt;&lt;td&gt; Andrew &lt;/td&gt;&lt;td&gt; green &lt;/td&gt;&lt;/tr&gt;
&lt;tr&gt;&lt;td&gt; Anne &lt;/td&gt;&lt;td&gt; red &lt;/td&gt;&lt;/tr&gt;
&lt;tr&gt;&lt;td&gt; John &lt;/td&gt;&lt;td&gt; blue &lt;/td&gt;&lt;/tr&gt;
&lt;/table&gt;
</pre>
As part of an HTML page, this would display as:

<table border=1 cellpadding=5>
<tr><th> Key </th><th> Value </th></tr>
<tr><td> Andrew </td><td> green </td></tr>
<tr><td> Anne </td><td> red </td></tr>
<tr><td> John </td><td> blue </td></tr>
</table>

Note that the hash should be displayed in ascending alphabetical order
on key values.

<div class="answer">
This gives the function as well as some code to test it out:

{{include_code("solutions/hashToHTML.pl")}}

</div>

<li>

Write a Perl program that will read in a HTML document and output a new HTML document that contains a table with two cells (in one row). In the left cell should be a copy of the complete original HTML document inside &lt;pre&gt; tags so we can see the raw HTML. You will need to replace all "&lt;" characters with the sequence "&amp;lt;" and all "&gt;" characters with the sequence "&amp;gt;", otherwise the browser will think they are HTML tags (and we want to see the tags in the left cell). In the right cell just include the HTML body of the document, so we can see what it will look like when rendered by a browser.
<!-- courtesy http://www.cs.rpi.edu/~hollingd/eiw.old/5-Perl/ex6.htm -->


<div class="answer">
Sample solution for show_html.pl

{{include_code("solutions/show_html.pl")}}

</div>
<li>

Write a Perl program that reads in data about student performance in a
Prac Exam consisting of 3 exercises and computes the overall result for each student.
The program takes a <em>single command line argument</em>, which is the name
of a file containing space-separated text records of the form:

<pre>
<i>studentID</i>  <i>exerciseID</i>  <i>testsPassed</i>  <i>numWarnings</i>
</pre>

There will be one line in the file for each exercise submitted by a student,
so a given student may have one, two or three lines of data.
<p>
The output should be ordered by student ID and should contain a single line for
each student, in the format:
</p>
<pre>
<i>studentID</i>  <i>totalMark</i>  <i>passOrFail</i>
</pre>
<p>
The <i>totalMark</i> value is computed as follows:
</p>
<ul>
<li> if an exercise passes all 5 tests, it is awarded a mark of 10 and is <em>correct</em>
<li> if an exercise passes less than 5 tests, it is awarded a mark of <i>testsPassed/2</i> and is <em>incorrect</em>
<li> if there are <em>any</em> warnings on an exercise, the mark is reduced by 2
<li> the minimum mark for a given exercise is zero
<li> the <i>totalMark</i> is the sum of the marks for the individual exercises
</ul>

The <i>totalMark</i> value should be display using the <code>printf</code>
format <code>"%4.1f"</code>.

A student is awarded a <code>PASS</code> if they have 2 or 3 <em>correct</em>
exercises and is awarded a <code>FAIL</code> otherwise.
Note that warnings do not cause an exercise to be treated as incorrect.
<p>
<table border=1 cellpadding=6>
<tr><th>Sample Marks File</th><th>Corresponding Output</th></tr>
<tr><td colspan=2>Command line argument: <code>marks1</code></td></tr>
<tr valign=top>
<td>
<pre>
2121211 ex1 5 0
2121211 ex2 5 0
2121211 ex3 5 0
2233455 ex1 5 0
2233455 ex2 5 1
2233455 ex3 0 1
2277688 ex1 4 0
2277688 ex2 3 0
2277688 ex3 2 1
2277689 ex1 5 0
2277689 ex2 5 0
2277689 ex3 1 1
</pre>
<td>
<pre>
2121211 30.0 PASS
2233455 18.0 PASS
2277688  3.5 FAIL
2277689 20.0 PASS
</pre>
</table>

<div class="answer">
Sample Perl solution

{{include_code("solutions/prac.pl")}}

Sample Python solution

{{include_code("solutions/prac.py")}}

</div>
<li>

What does this Perl print and why?

<pre class="program">
@a = (1..5);
@b = grep { $_ = $_ - 3; $_ > 0} @a;
print "@a\n";
print "@b\n";
</pre>

<div class="answer">
It prints:
<p>
<pre class="program">
-2 -1 0 1 2
1 2
</pre>
<p>
The <code>grep</code> function aliases $_ to each list element in turn
an executes the code in the block.  It returns a list ofthe element for which the
last expressione evaluated is true.
<p>
<code>{ $_ = $_ - 3 }</code> subtracts 3 from each element in <code>@a</code>.
The <code>$_ > 0</code> expression selects positive elements.
</div>
<li>

What does this Perl print?

<pre class="program">
@vec = map { $_ ** 2 } (1,2,3,4,5);
print "@vec\n";
</pre>

<div class="answer">
It prints:

<pre class="program">
1 4 9 16 25
</pre>

The <code>map</code> function applies the code in the block
<code>{ $_ ** 2 }</code> to each element in the list, and
returns a list containing the tranformed values.
The <code>**</code> operator does exponentiation; and
<code>$_</code> refers to the "current" element
in the list.
</div>
{% endblock %}
