{% extends "templates/tut.html" %}
{% block questions %}
<ol>
<li>

Write a Perl program <code>./merge_whales.pl</code> which reads a list of whales observations
from its standard input and prints them to its standard output, merging adjacent counts
of the same species. For example, given this input:
<pre class="command_line">
3 beluga
10 humpback
15 humpback
2 sperm whale
3 humpback
5 humpback
8 humpback
1 beluga
3 beluga
</pre>

Your program should produce this output:

<pre class="command_line">
3 beluga
25 humpback
2 sperm whale
16 humpback
4 beluga
</pre>

<div class="answer">
Sample Perl solution

{{include_code("solutions/merge_whales.pl")}}

Sample Python solution

{{include_code("solutions/merge_whales.py")}}

</div>
<li>

Write a Perl program, <code>phone_numbers.pl</code> which given the URL of a web
page fetches it by running <i>wget</i> and prints any strings that might be
phone numbers in the web page.
<p>
Assume the digits of phone numbers may be separated  by zero or more spaces or hyphens('-')
and can contain between 8 and 15 digits inclusive.
<p>
You should print the phone numbers one per line with spaces & hyphens removed.
<p>
For example
<pre class="command_line">
<kbd class="shell">./phone_numbers.pl http://www.unsw.edu.au</kbd>
20151028
11187777
841430912571345
413200225
61293851000
57195873179
</pre>

<div class="answer">
Sample Perl solution

{{include_code("solutions/phone_numbers.pl")}}

Another sample Perl solution for phone_numbers.1.pl

{{include_code("solutions/phone_numbers.1.pl")}}

Python solution

{{include_code("solutions/phone_numbers.py")}}
</div>
<li>

What does each of the following Perl code fragments print
(no, don't just clip the lines and pass them to Perl,
think about what they're doing):

<ol type="a">
<li>

<pre class="program">
$x = 'x';
for ($i = 1; $i &lt;= 3; $i++) {
    $x = "($x)";
}
print "$x\n";
</pre>

<div class="answer">

It iterates three times through the loop, and each iteration wraps
a pair of parentheses around what was there on the last iteration so
it prints:

<pre class="program">
(((x)))
</pre>

</div>


<li>
<pre class="program">
@hi = split //,"hello";
for ($i = 0; $i &lt; 4; $i++) {
    print $hi[$i];
}
print "\n";
</pre>
<div class="answer">
<p>
The idiom <code>split //</code> splits a string into an array of
individual characters (in this case <code>("h","e","l","l","o")</code>.
The loop iterates over the first four of these characters.
So it prints:
<p>
<pre class="code">
hell
</pre>
</div>

<li>

<pre class="program">
@vec = (10 .. 20);
print "@vec[1..3]\n";
</pre>

<div class="answer">
The first statement produces an array containing the integers between
10 and 20 inclusive; the expression in the <code>print</code> statement
takes a slice of this array from the 2nd to the 4th elements (remember
that index values start at zero) so i prints:
<p>
<pre class="program">
11 12 13
</pre>
</div>

<li>

<pre class="program">
foreach $n (1..10) {
    last if ($n > 5);
    print "$n ";
    next if ($n % 2 == 0);
    print "$n ";
}
print "\n";
</pre>

<div class="answer">
The loop iterates with <code>$n</code> set to the values from
1 to 10 inclusive. The <code>last</code> terminates the loop
as soon as the value of <code>$n</code> exceeds five (cf.
<code>break</code> in C or Java). The <code>next</code> starts
the next iteration straight away whenever the test succeeds;
which occurs for each even number, so that the evens only
get printed once so it prints:
<p>
<pre class="program">
1 1 2 3 3 4 5 5
</pre>
</div>
</ol>
{% endblock %}

{% block revision_questions %}
<li>

Write a Perl program <code>source_count.pl</code> which prints the number of line of C source code
in the current directory.  In other words, this Perl program should
behave similarly to <code>wc -l *.[ch]</code>.  (Note: you are not
allowed to use <code>wc</code> or other Unix programs from within the
Perl script). For example:
<p>
<pre class="command_line">
<kbd class="shell">./source_count.pl</kbd>
    383 cyclorana.c
    280 cyclorana.h
     15 enum.c
    194 frequency.c
    624 model.c
    293 parse.c
    115 random.c
     51 smooth.c
    132 util.c
     16 util.h
    410 waveform.c
   2513 total
</pre>

<div class="answer">
Sample Perl solution

{{include_code("solutions/source_lines.pl")}}

Sample Python solution

{{include_code("solutions/source_lines.py")}}

</div>
<li>

Write a Perl program, <code>cut.pl</code> which takes three arguments, <i>n</i>, <i>m</i> and a file name.
It should print characters <i>n</i>-<i>m</i> of each line of the file.
For example:

<pre class="command_line">
<kbd class="shell">./cut.pl 1 8 file</kbd>
</pre>

should print the 8 characters of every line in <code>file</code>.
<p>
Implement a version of the program which invokes <code>/usr/bin/cut</code>
and a version which performs the operations directly in Perl.

<div class="answer">
Sample Perl solution calling /usr/bin/cut

{{include_code("solutions/simple_cut0.pl")}}

Sample solution in Perl itself

{{include_code("solutions/simple_cut1.pl")}}

Sample solution implementing more of cut in Perl

{{include_code("solutions/cut.pl")}}

Python solution calling /usr/bin/cut

{{include_code("solutions/simple_cut0.py")}}

Sample solution in Python

{{include_code("solutions/simple_cut1.py")}}

</div>
<li>

Implement a Perl script to solve the marks-to-grades problem that
was solved as a shell script in a previous tutorial.
Reminder: the script reads a sequence
of (studentID,mark) pairs from its standard input and writes
(studentID,grade) pairs to its standard output.
The input pairs are written on a single line, separated by spaces,
and the output should use a similar format.
The script should also check whether the second value on each line
looks like a valid grade, and output an appropriate message if it
doesn't.
The script can ignore any extra data occuring after the mark on each line.
<p>
Consider the following input and corresponding output to the
program:


<table cellpadding=10>
<tr> <th>Input <th>Output
<tr>
<td>
<pre class="command_line">
2212345 65
2198765 74
2199999 48
2234567 50 ok
2265432 99
2121212 hello
2222111 120
2524232 -1
</pre>

<td>
<pre class="command_line">
2212345 CR
2198765 CR
2199999 FL
2234567 PS
2265432 HD
2121212 ?? (hello)
2222111 ?? (120)
2524232 ?? (-1)
</pre>

</table>

<div class="answer">

Sample Perl solution

{{include_code("solutions/marks.pl")}}
</div>
<li>

Write a program <code>addressbook.pl</code> that reads two files <code>people.txt</code> and <code>phones.txt</code> containing data in CSV
(comma-separated values) format and uses this data to print
an address book in the format below:

{{execute("cat people.txt;cat phones.txt;./addressbook.pl", cwd="solutions", split_semicolon=1)}}

<p>
Assume that there are only three types of phone (mobile, home and work)
and we always display them in that order.
</p>
<p>
<I>Hint:</I> because the phone types are fixed, login name and phone type
together can be the key used to look up a number.
In this situation some suitable separator is used to create
a composite, unambiguous key for the hash.

<div class="answer">

{{include_code("solutions/addressbook.pl")}}

</div>
</ol>
{% endblock %}
