<!doctype html>
<html lang="en">
<head>
<title>
{% block title %}
{{course_code}} - {{course_name}} - {{unsw_session}}
{% endblock %}
</title>
<link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='course.css') }}" rel="stylesheet">
<script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<link rel="canonical" href="{{ canonical_url }}" />
</head>
<body>

{% from "templates/macros.html" import execute,include_code,edit_github with context %}


{% block body %}
<div class="container">

<div id="heading">
{% block heading %}

<a class="heading_link" target="_blank" id="left_heading_link" href="http://www.cse.unsw.edu.au/~{{course_account}}/{{unsw_session}}/">COMP[29]041 {{unsw_session}}</a>

{% block heading_title %}
{{ self.title() }}
{% endblock %}

<a class="heading_link" target="_blank" id="right_heading_link" href="http://www.cse.unsw.edu.au/~{{course_account}}/{{unsw_session}}/">{{course_name}}</a>
{% endblock %}
</div>

</div>

{% block body_contents %}
{% endblock %}


{{edit_github(template_pathname)}}

</div>
{% endblock %}

<!--
{% for (name,value) in template_variables.items() %}{% if isinstance(value, str) %}{{name}}={{value}}
{% endif %}{% endfor %}
-->

</body>
</html>
