{% macro execute(shell_command, show_command=True, cwd='', height='32em', split_semicolon=True, input="",show_eof=True) -%}

{% if not cwd %}
    {% if directory_relative_pathname.startswith('tlb/') %}
        {% set cwd = os.path.join('private', directory_relative_pathname, 'solutions') %}
    {% elif directory_relative_pathname.startswith('private/tlb/') %}
        {% set cwd = os.path.join(directory_relative_pathname, 'solutions') %}
    {% else %}
        {% set cwd = directory_relative_pathname,  %}
    {% endif %}
{% elif cwd == 'solutions' %}
    {% if directory_relative_pathname.startswith('tlb/') %}
        {% set cwd = os.path.join('private', directory_relative_pathname, 'solutions') %}
    {% elif directory_relative_pathname.startswith('private/tlb/') %}
        {% set cwd = os.path.join(directory_relative_pathname, 'solutions') %}
    {% endif %}
{% endif %}

{% if split_semicolon %}
{% set command_list = re.split('\\s*;\\s*', shell_command.strip()) %}
{% else %}
{% set command_list = [shell_command] %}
{% endif %}
{% if height %}
<pre class="command_line" style="max-height: {{height}};overflow:  auto;">
{% else %}
<pre class="command_line">
{% endif %}{% for command in command_list %}{% if show_command %}<kbd class="shell">{{command}}</kbd>
{% endif %}{% if input %}<kbd>{{input}}</kbd>{% if show_eof %}<span class="eof"></span>
{% endif %}{% endif %}{{ execute_shell_command(command, cwd=cwd, input=input)}}{% endfor %}</pre>
{%- endmacro %}

{% macro edit_github(pathname) -%}
{% if is_tutor %}

	{% if pathname.startswith('private/') %}
		{% set pathname = pathname[len('private/'):] %}
	{% endif %}
	
	<div class="edit_github">
		<a href="{{github_repo_url}}/edit/master/{{pathname}}" class="edit_github_link btn btn-xs" role="button">Edit {{pathname}} on github</a>
	</div>
	
{% endif %}
{%- endmacro %}

{% macro include_code(pathname, function_only='') -%}
{% if not pathname.startswith('/') %}
{% set pathname = os.path.join(directory_relative_pathname, pathname) %}
{% endif %}
<pre class="program">
{{ read_code(pathname, function_only=function_only) }}
</pre>

{{edit_github(pathname)}}

{%- endmacro %}
