{% extends "templates/base.html" %}
{% set autotest_command = course_number + " autotest" %}
{% macro autotest_reminder() -%}
{% set autotest_files = " ".join(sorted(varargs)) %}
<p>
As usual use <code>autotest</code> to assist in testing your code (do your own testing too!):

<pre class="command_line">
<kbd class="shell">{{autotest_command}} {{exercise_name}} {{autotest_files}}</kbd>
</pre>

{% if testing_results.get(exercise_name, {}).get('automarking', {}).get(autotest_files, {}) %}
    {% set which = "marking" %}
{% elif testing_results.get(exercise_name, {}).get('autotest', {}).get(autotest_files, {}) %}
    {% set which = "test" %}
{% endif %}

{% if which %}
    {% set results = testing_results[exercise_name]['auto'+which][autotest_files] %}
    {% set individual_tests = results.get('individual_tests',{}) %}
    <div class="autotest_results">
    <h4>Auto{{which}} Results</h4>
        <span class="autotest_results_emphasis">{{"%.0f" % (100 * results.get('passed_fraction', 0))}}%</span>
        {# <span class="autotest_results_emphasis">({{results.get('passed', 0)}})</span> #}
        of <span class="autotest_results_emphasis">{{results.get('passed', 0)+results.get('failed', 0)}}</span> students
        {% if which == "marking" %}
            who submitted
            <span class="autotest_results_emphasis">{{autotest_files}}</span>
            (that could be marked)
        {% else %}
            who have autotested
            <span class="autotest_results_emphasis">{{autotest_files}}</span>
            so far,
        {% endif %}
        {% if len(individual_tests) == 1 %}
            passed the auto{{which}} test.
        {% else %}
            passed all auto{{which}} tests.
            {% if 1.0 > results.get('passed_fraction', 0) > 0.0 %}
                <div class="autotest_results_individual">
                <ul>
                {% for (label,test) in sorted(individual_tests.items()) %}
                    <li><span class="autotest_results_emphasis">{{"%.0f" % (100 * test.get('passed_fraction', 0))}}%</span>
                    {# ({{test.get('passed', 0)}}) #}
                    passed test <i>{{label}}</i>
                {% endfor %}
                </ul>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endif %}

{%- endmacro %}

{% block title %}
{{course_code}} Week {{week}} {{full_name[tut_or_lab_or_test]['self']}} {{full_name[tut_or_lab_or_test][questions_or_answers]}}
{% endblock %}

{% block heading_title %}

<span class="dropdown">
    <button class="btn dropdown-toggle heading_button" type="button" data-toggle="dropdown">
        Week {{week}}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        {% for week in tlb_list[tut_or_lab_or_test][questions_or_answers]['released'] %}
            <li><a HREF="{{url_root}}{{tut_or_lab_or_test}}/{{week}}/{{questions_or_answers}}">Week {{week}}</a></li>
        {% endfor %}
        {% if is_tutor %}
            {% for week in tlb_list[tut_or_lab_or_test][questions_or_answers]['unreleased'] %}
                <li><a HREF="{{url_root}}{{tut_or_lab_or_test}}/{{week}}/{{questions_or_answers}}">Week {{week}} (tutors only)</a></li>
            {% endfor %}
        {% endif %}
    </ul>
</span>

<span class="dropdown">
    <button class="btn dropdown-toggle heading_button" type="button" data-toggle="dropdown">
        {{full_name[tut_or_lab_or_test]['self']}}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        {% for tlb in ['tut', 'lab', 'test'] %}
            {% if week in  tlb_list[tlb][questions_or_answers]['released'] + tlb_list[tlb][questions_or_answers]['unreleased'] %}
                <li><a HREF="{{url_root}}{{tlb}}/{{week}}/{{questions_or_answers}}">{{full_name[tlb]['self']}}
                {% if week not in tlb_list[tlb][questions_or_answers]['released'] %}
                    (tutors only)
                {% endif %}
            </a></li>
            {% endif %}
        {% endfor %}
    </ul>
</span>

<span class="dropdown">
    <button class="btn dropdown-toggle heading_button" type="button" data-toggle="dropdown">
        {{full_name[tut_or_lab_or_test][questions_or_answers]}}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        {% for qa in ['questions', 'answers'] %}
            <li><a HREF="{{url_root}}{{tut_or_lab_or_test}}/{{week}}/{{qa}}">{{full_name[tut_or_lab_or_test][qa]}}
            {% if week not in tlb_list[tut_or_lab_or_test][qa]['released'] %}
                (tutors only)
            {% endif %}
            </a></li>
        {% endfor %}
        {% if is_tutor  %}
            <li><a HREF="{{url_root}}notes/{{week}}">Tutor's Notes
        {% endif %}
    </ul>
</span>

{% if week not in tlb_list[tut_or_lab_or_test][questions_or_answers]['released'] %}
<! -- Tutors Only -->
{% endif %}
{% endblock %}
