{% extends "templates/tut.html" %}

{% block questions %}
<li>

Write a Perl program <code>word_frequency.pl</code> which prints a count of all the words found in its
input.  Your program should ignore case. It should treat any sequence of alphabetic characters ([a-z])
as a word. It should treat any non-alphabetic character as a space. It should print words and their
counts sorted in increasing order of frequency in the format shown in this example:

{{execute("./word_frequency.pl", input=
"""Peter Piper picked a peck of pickled peppers;
A peck of pickled peppers Peter Piper picked;
If Peter Piper picked a peck of pickled peppers,
Where's the peck of pickled peppers Peter Piper picked?
""", cwd="solutions")}}

<div class="answer">
Sample solution for word_frequency.pl

{{include_code("solutions/word_frequency.pl")}}

Python solution

{{include_code("solutions/word_frequency.py")}}

</div>

<li>

Write a Perl program <code>missing_words.pl</code> which given two files as arguments prints,
in sorted order, all the words found in file1 but not file2.
<p>
You can assume words occur one per line in each file.

<div class="answer">
Straight-forward sample solution for missing_words.pl

{{include_code("solutions/missing_words.1.pl")}}

Concise but less obvious sample solution for missing_words.pl

{{include_code("solutions/missing_words.2.pl")}}

</div>
<li>
Write a Perl program that given the road distances between
a number of towns (on standard input) calculates the shortest journey
between two towns specified as arguments.
Here is an example of how your program should behave.

{{execute("./shortest_path.pl Parkes Gilgandra", input=
"""Bourke Broken-Hill   217
Bourke Dubbo          23
Bourke Gilgandra      62
Bourke Parkes         71
Canowindra Dubbo      35
Canowindra Gilgandra  13
Canowindra Parkes    112
Dubbo Gilgandra       91
Dubbo Parkes          57
""", cwd="solutions")}}

<div class="answer">

Fairly obvious Perl sample solution

{{include_code("solutions/shortest_path.v1.pl")}}

More concise Perl solution

{{include_code("solutions/shortest_path.v2.pl")}}

</div>
{% block header %}
<li>

Write a Perl function <code>printHash()</code> that displays the contents
of a Perl associative array (hash) in the format below (its the format  used by
the PHP function <code>print_r</code>) e.g. the hash table ...

<pre class="program">
%colours = ("John" => "blue", "Anne" => "red", "Andrew" => "green");
</pre>

and the function call ...

<pre class="program">
printHash(%colours);
</pre>

should produce the output ...

<pre class="program">
[Andrew] => green
[Anne] => red
[John] => blue
</pre>

Since the function achieves its effect via <code>print</code>, it doesn't
really need to return any value, but since Perl functions typically
return <em>something</em>, <code>printHash</code> should return a count
of the number of items displayed (i.e. the number of keys in the hash table).
Note that the hash should be displayed in ascending alphabetical order
on key values.

<div class="answer">
This gives the function as well as some code to test it out:

{{include_code("solutions/printHash.pl")}}
</div>
{% endblock %}

<li>

A bigram is two words occuring consecutively in a piece of text.
Some pairs of words tend to occur more commonly than others as bigrams,
e.g <code>cold beer</code> or <code>programming language</code>.
<p>
Your task is to write a Perl program <code>bigrams.pl</code> which reads a piece of text,
and prints the words which occur in the text
in sorted order, one per line.  Each word should be accompanied
by the word which most frequently follows it in the text - if several
words occur equally often after the word, any of them can be printed.
The number of times the word occurs in the text should be indicated
as should the number of times the second word follows it.
Case should be ignored. For example given this text:

{{execute("./bigrams.pl", input=
"""Peter Piper picked a peck of pickled peppers;
A peck of pickled peppers Peter Piper picked;
If Peter Piper picked a peck of pickled peppers,
Where's the peck of pickled peppers Peter Piper picked?
""", cwd="solutions")}}

<div class="answer">
Some notes on the  Perl solution below:
<ul>
<li> <code>\W</code> is a special Perl regexp class which matches
    any non-word character
<li> <code>tr/abc/def/</code> behaves like the Unix <code>tr</code>
    command
<li> neither of <code>tr</code>'s args is a regexp; but it supports
    <code>A-Z</code>-style ranges
<li> <code>bigram_count</code> is a hash where each key is a string
    and each value is a (reference to a) hash
</ul>

{{include_code("solutions/bigrams.pl")}}

Sample Python solution

{{include_code("solutions/bigrams.py")}}
</div>

{% endblock %}
